pkgbase = llama.cpp
	pkgdesc = Port of Facebook's LLaMA model in C/C++
	pkgver = b8953
	pkgrel = 5
	url = https://github.com/ggml-org/llama.cpp
	install = llama.cpp.install
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = MIT
	makedepends = cmake
	makedepends = git
	makedepends = shaderc
	depends = curl
	depends = gcc-libs
	depends = glibc
	depends = python
	optdepends = python-numpy: needed for convert_hf_to_gguf.py
	optdepends = python-safetensors: needed for convert_hf_to_gguf.py
	optdepends = python-sentencepiece: needed for convert_hf_to_gguf.py
	optdepends = python-pytorch: needed for convert_hf_to_gguf.py
	optdepends = python-transformers: needed for convert_hf_to_gguf.py
	optdepends = python-gguf: needed for convert_hf_to_gguf.py
	provides = llama.cpp
	conflicts = llama.cpp
	conflicts = libggml
	conflicts = ggml
	options = lto
	options = !debug
	backup = etc/conf.d/llama.cpp
	source = llama.cpp-b8953.tar.gz::https://github.com/ggml-org/llama.cpp/archive/refs/tags/b8953.tar.gz
	source = llama.cpp.conf
	source = llama.cpp.service
	source = llama.cpp.install
	source = sysusers.conf
	source = tmpfiles.conf
	sha256sums = 6fe34078d80b7edcd6347f029d7b6c43d6b109fee442768d9ebf6eeb3f5d39ee
	sha256sums = 53fa70cfe40cb8a3ca432590e4f76561df0f129a31b121c9b4b34af0da7c4d87
	sha256sums = 962216759c0d4dfebc47781ae8c5a2ade256f9fb409c3c59169af8d6bce51342
	sha256sums = 516e87c7a0e020718b1bc3d47e5b25c30b3f6b80b3eb1cd611a1cb776b1520d4
	sha256sums = 970b5b86a26b4d5ca3282b379e1c5f817e3b4f21131d797240043b5b3442724e
	sha256sums = 541f3a7694e1afab46dc7a33335002ace12353050a1ab9d67383e8ad72efe094

pkgname = llama.cpp
